<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'-'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${bySecond}-application.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <appender name="HTTP-PROTOCOL-COMMAND" class="ch.qos.logback.core.FileAppender">
        <file>logs/${bySecond}-http-protocol-command.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date [%thread] %-5level - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="http-protocol-command" level="DEBUG" additivity="false">
        <appender-ref ref="HTTP-PROTOCOL-COMMAND"/>
    </logger>

</configuration>
