<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.snvent" name-generator="com.snvent.core.ApplicationBeanNameGenerator" />

    <import resource="property-placeholder.xml" />
    <import resource="http/routes.xml" />

    <bean id="application" class="com.snvent.core.GameApplication">
        <property name="services">
            <list>
                <ref bean="httpService" />
                <ref bean="webSocketService" />
                <ref bean="frontendService" />
                <ref bean="databaseService" />
            </list>
        </property>
    </bean>

    <bean id="httpService" class="com.snvent.core.service.HttpService">
        <property name="application" ref="application" />
        <property name="host" value="${http.server.host}" />
        <property name="port" value="${http.server.port}" />
    </bean>

    <bean id="webSocketService" class="com.snvent.core.service.WebSocketService">
        <property name="application" ref="application" />
        <property name="host" value="${websocket.server.host}" />
        <property name="port" value="${websocket.server.port}" />
    </bean>

    <bean id="frontendService" class="com.snvent.core.service.FrontendService" autowire="byType" />

    <bean id="databaseService" class="com.snvent.core.service.DatabaseService" autowire="byType" />

    <bean class="com.snvent.core.http.route.Router">
        <constructor-arg ref="routes" />
    </bean>

</beans>
