<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="routes" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="com.snvent.core.http.route.Route">
                    <property name="pattern" value="/someUri/:foo" />
                    <property name="dispatcherFactoryClass" value="com.snvent.core.http.dispatcher.factory.HttpDispatcherFactory" />
                </bean>
                <bean class="com.snvent.core.http.route.Route">
                    <property name="pattern" value="/:foo/:bar" />
                    <property name="dispatcherFactoryClass" value="com.snvent.core.http.route.stub.StubHttpDispatcherFactory" />
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>
